<h2> All de articlez </h2>

<% @articles.each do |article| %>
  <div id='article container'>
    <div id='title'>
      <h3><%= article.title %></h3>
    </div>
    <div id='author'>
      <%= article.author %>
    </div>
    <div id='body'>
      <%= article.body %>
    </div>
    <div id='category'>
      <%= article.category %>
    </div>
  </div>
<% end %>
