<div class='article-container'>
  <div class='title'>
    <h2><%= @article.title %></h2>
  </div>
  <div class='body'>
    <%= @article.body %>
  </div>
  <div class='author'>
    <h4>Written by: <%= @article.author %></h4>
  </div>
</div>
